<a href="https://colab.research.google.com/github/Guilherm0/Regressao/blob/main/ExercicioRegLinearMultipla.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns 
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn import metrics

In [ ]:
df = pd.read_csv('/C+Â¦pia de CarPrice_Assignment.csv')
df

In [ ]:
#df = df.drop('car_ID', axis=1)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 25 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   symboling         205 non-null    int64
 1   CarName           205 non-null    object
 2   fueltype          205 non-null    object
 3   aspiration        205 non-null    object
 4   doornumber        205 non-null    object
 5   carbody           205 non-null    object
 6   drivewheel        205 non-null    object
 7   enginelocation    205 non-null    object
 8   wheelbase         205 non-null    float64
 9   carlength         205 non-null    float64
 10  carwidth          205 non-null    float64
 11  carheight         205 non-null    float64
 12  curbweight        205 non-null    int64
 13  enginetype        205 non-null    object
 14  cylindernumber    205 non-null    object
 15  enginesize        205 non-null    int64
 16  fuelsystem        205 non-null    object
 17  boreratio         205 non-null    float64
 18  stroke            205 non-null    float64
 19  compressionratio  205 non-null    float64
 20  horsepower        205 non-null    int64
 21  peakrpm           205 non-null    int64
 22  citympg           205 non-null    int64
 23  highwaympg        205 non-null    int64
 24  price             205 non-null    float64
dtypes: float64(8), int64(7), object(10)
memory usage: 40.2+ KB

In [ ]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [ ]:
le.fit(df.CarName)
df.CarName = le.transform(df.CarName)

le.fit(df.fueltype)
df.fueltype = le.transform(df.fueltype)

le.fit(df.aspiration)
df.aspiration = le.transform(df.aspiration)

le.fit(df.doornumber)
df.doornumber = le.transform(df.doornumber)

le.fit(df.carbody)
df.carbody = le.transform(df.carbody)

le.fit(df.drivewheel)
df.drivewheel = le.transform(df.drivewheel)

le.fit(df.enginelocation)
df.enginelocation = le.transform(df.enginelocation)

le.fit(df.fuelsystem)
df.fuelsystem = le.transform(df.fuelsystem)

le.fit(df.enginetype)
df.enginetype = le.transform(df.enginetype)

le.fit(df.cylindernumber)
df.cylindernumber = le.transform(df.cylindernumber)

In [ ]:
df.head()

,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,carlength,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,3,2,1,0,1,0,2,0,88.6,168.8,...,130,5,3.47,2.68,9.0,111,5000,21,27,13495.0
1,3,3,1,0,1,0,2,0,88.6,168.8,...,130,5,3.47,2.68,9.0,111,5000,21,27,16500.0
2,1,1,1,0,1,2,2,0,94.5,171.2,...,152,5,2.68,3.47,9.0,154,5000,19,26,16500.0
3,2,4,1,0,0,3,1,0,99.8,176.6,...,109,5,3.19,3.40,10.0,102,5500,24,30,13950.0
4,2,5,1,0,0,3,0,0,99.4,176.6,...,136,5,3.19,3.40,8.0,115,5500,18,22,17450.0

In [ ]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()

dfNorm = pd.DataFrame(scaler.fit_transform(df), index=df.index, columns=df.columns)

In [ ]:
dfNorm

,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,carlength,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1.0,0.013699,1.0,0.0,1.0,0.00,1.0,0.0,0.058309,0.413433,...,0.260377,0.714286,0.664286,0.290476,0.12500,0.262500,0.346939,0.222222,0.289474,0.207959
1,1.0,0.020548,1.0,0.0,1.0,0.00,1.0,0.0,0.058309,0.413433,...,0.260377,0.714286,0.664286,0.290476,0.12500,0.262500,0.346939,0.222222,0.289474,0.282558
2,0.6,0.006849,1.0,0.0,1.0,0.50,1.0,0.0,0.230321,0.449254,...,0.343396,0.714286,0.100000,0.666667,0.12500,0.441667,0.346939,0.166667,0.263158,0.282558
3,0.8,0.027397,1.0,0.0,0.0,0.75,0.5,0.0,0.384840,0.529851,...,0.181132,0.714286,0.464286,0.633333,0.18750,0.225000,0.551020,0.305556,0.368421,0.219254
4,0.8,0.034247,1.0,0.0,0.0,0.75,0.0,0.0,0.373178,0.529851,...,0.283019,0.714286,0.464286,0.633333,0.06250,0.279167,0.551020,0.138889,0.157895,0.306142
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,0.2,0.952055,1.0,0.0,0.0,0.75,1.0,0.0,0.655977,0.711940,...,0.301887,0.714286,0.885714,0.514286,0.15625,0.275000,0.510204,0.277778,0.315789,0.291123
201,0.2,0.945205,1.0,1.0,0.0,0.75,1.0,0.0,0.655977,0.711940,...,0.301887,0.714286,0.885714,0.514286,0.10625,0.466667,0.469388,0.166667,0.236842,0.345738
202,0.2,0.958904,1.0,0.0,0.0,0.75,1.0,0.0,0.655977,0.711940,...,0.422642,0.714286,0.742857,0.380952,0.11250,0.358333,0.551020,0.138889,0.184211,0.406311
203,0.2,0.972603,0.0,1.0,0.0,0.75,1.0,0.0,0.655977,0.711940,...,0.316981,0.428571,0.335714,0.633333,1.00000,0.241667,0.265306,0.361111,0.289474,0.430763
204,0.2,0.979452,1.0,1.0,0.0,0.75,1.0,0.0,0.655977,0.711940,...,0.301887,0.714286,0.885714,0.514286,0.15625,0.275000,0.510204,0.166667,0.236842,0.434611

In [ ]:
import statsmodels.formula.api as smf

In [ ]:
function = 'price~CarName+doornumber+carbody+drivewheel+enginelocation+enginesize+stroke+compressionratio+horsepower+peakrpm+carwidth+carheight+curbweight-1'
model = smf.ols(formula=function, data=dfNorm).fit()
print(model.summary())

                                 OLS Regression Results
=======================================================================================
Dep. Variable:                  price   R-squared (uncentered):                   0.949
Model:                            OLS   Adj. R-squared (uncentered):              0.945
Method:                 Least Squares   F-statistic:                              272.1
Date:                Thu, 10 Nov 2022   Prob (F-statistic):                   5.21e-116
Time:                        17:12:41   Log-Likelihood:                          271.87
No. Observations:                 205   AIC:                                     -517.7
Df Residuals:                     192   BIC:                                     -474.5
Df Model:                          13
Covariance Type:            nonrobust
====================================================================================
                       coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------
CarName             -0.1307      0.017     -7.773      0.000      -0.164      -0.098
doornumber          -0.0303      0.012     -2.561      0.011      -0.054      -0.007
carbody             -0.1056      0.029     -3.647      0.000      -0.163      -0.049
drivewheel           0.0474      0.022      2.194      0.029       0.005       0.090
enginelocation       0.2566      0.049      5.289      0.000       0.161       0.352
enginesize           0.5031      0.075      6.724      0.000       0.356       0.651
stroke              -0.1483      0.030     -4.897      0.000      -0.208      -0.089
compressionratio     0.0602      0.024      2.487      0.014       0.012       0.108
horsepower           0.1923      0.074      2.590      0.010       0.046       0.339
peakrpm              0.0691      0.033      2.112      0.036       0.005       0.134
carwidth             0.1893      0.054      3.535      0.001       0.084       0.295
carheight            0.0755      0.033      2.286      0.023       0.010       0.141
curbweight           0.1643      0.074      2.233      0.027       0.019       0.309
==============================================================================
Omnibus:                       43.405   Durbin-Watson:                   0.950
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              177.751
Skew:                           0.741   Prob(JB):                     2.52e-39
Kurtosis:                       7.315   Cond. No.                         32.9
==============================================================================

Notes:
[1] RÂ² is computed without centering (uncentered) since the model does not contain a constant.
[2] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [ ]:
x = dfNorm[['CarName','doornumber','carbody','drivewheel','enginelocation','enginesize','stroke','compressionratio','horsepower','peakrpm','carwidth','carheight','curbweight']]
y = dfNorm['price']

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.2, random_state=42)

lr = LinearRegression()

lr.fit(x, y)

LinearRegression()

In [ ]:
r_qrt = lr.score(x,y)
r_qrt

0.8957104217461449

In [ ]:
y_pred_train = lr.predict(x_train)
print('MAE', metrics.mean_absolute_error(y_train, y_pred_train))
print('MSE', metrics.mean_squared_error(y_train, y_pred_train))
print('RMSE', np.sqrt(metrics.mean_squared_error(y_train, y_pred_train)))

MAE 0.047600974459506916
MSE 0.0036269034049875174
RMSE 0.060223777737597274

In [ ]:
y_pred_test = lr.predict(x_test)
print('MAE', metrics.mean_absolute_error(y_test, y_pred_test))
print('MSE', metrics.mean_squared_error(y_test, y_pred_test))
print('RMSE', np.sqrt(metrics.mean_squared_error(y_test, y_pred_test)))

MAE 0.05205097239962863
MSE 0.006782087997483171
RMSE 0.08235343342862622